{% extends 'base.html' %}
{% load studyroom_filter %}
{% load humanize %}
{% block content %}

<div class="container my-3">
    <div>
        <h1>
            <span class="badge badge-info">청구내역</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <button class="btn " type="button" >청구월</button>
        </div>
        <div class="col-xs-2">
            <select name='bill_mt' class="form-control billmt" value="{{ billmt|default_if_none:'' }}"
                    style="width:200px;">

                {% for b in bml %}
                    <option value={{ b.bill_mt }}>{{ b.bill_mt|slice:"2:4" }}년 {{ b.bill_mt|slice:"4:" }}월</option>
                {% endfor%}
            </select>
        </div>
        <div class="col-xs-2">
            <button class="btn " type="button" >상태</button>
        </div>
        <div class="col-xs-2">
            <select name='bill_status' class="form-control billstatus" value="{{ billstatus|default_if_none:'' }}"
                    style="width:200px;">
                <option value='OP'>발행</option>
                <option value='FP'>완납</option>
                <option value='PP'>부분납</option>
            </select>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
        </div>
        <div style="width:100px;">
        </div>
    </div>

    <table class="table">
        <thead>
        <tr class="text-center thead-light">
            <th>이름</th>
            <th>청구월</th>
            <th>청구금액</th>
            <th>수강료</th>
            <th>환불금액</th>
            <th>형제할인</th>
            <th>추천할인</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        {% if bill_list %}
        {% for bill in bill_list %}
        <tr class="text-center">
            <td>{{ bill.account.student.name }} {{ bill.account.student.brother.name }}</td>
            <td>{{ bill.bill_mt|slice:"2:4" }}년 {{ bill.bill_mt|slice:"4:" }}월</td>
            <td>{{ bill.bill_amt|intcomma }}</td>
            <td>{{ bill.base_amt|intcomma }} {% if bill.account.student.brother %}{{ bill.brother_base_amt|intcomma }}{% endif %}</td>
            <td>{{ bill.refund_amt|intcomma }} {% if bill.account.student.brother %}{{ bill.brother_refund_amt|intcomma }}{% endif %}</td>
            <td>{{ bill.brother_dc_amt|intcomma }}</td>
            <td>{{ bill.recommend_dc_amt|intcomma }}</td>
            <td>{{ bill.get_bill_status_display }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">bill이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if bill_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ bill_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in bill_list.paginator.page_range %}
        {% if page_number >= bill_list.number|add:-5 and page_number <= bill_list.number|add:5 %}
            {% if page_number == bill_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if bill_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ bill_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
<form id="searchForm" method="get" action="{% url 'studyroom:bill_list' %}">
    <input type="hidden" id="billmt" name="billmt" value="{{ billmt|default_if_none:'' }}">
    <input type="hidden" id="billstatus" name="billstatus" value="{{ billstatus|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#billmt").val($(".billmt").val());
        $("#billstatus").val($(".billstatus").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}