{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <div>
        <h1>
            <span class="badge badge-info">학생 정보</span>
        </h1>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center thead-light">
            <th>학생</th>
            <th>학년</th>
            <th>형제</th>
            <th>계정번호</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>{{ student.name }}</td>
            <td>{{ student.get_grade_display }}</td>
            <td>{{ student.brother.name }}</td>
            <td>{{ student.account_set.all.first.id }} {{ student.brother.account_set.all.first.id }}</td>
        </tr>
        </tbody>
    </table>
    <div class="my-3">
        <a href="{% url 'studyroom:student_modify' student.id  %}"
           class="btn btn-secondary">수정</a>
        <a href="#" class="delete btn btn-secondary"
            data-uri="{% url 'studyroom:student_delete' student.id  %}">삭제</a>
    </div>

    <hr class="my-3">
    <div class="my-3">
        <h1>
            <span class="badge badge-info">계정 정보</span>
        </h1>
    </div>
    {% if  student.account_set.all.first.id %}
    <table class="table">
        <thead>
        <tr class="text-center thead-secondary">
            <th>계정번호</th>
            <th>학생</th>
            <th>형제</th>
            <th>납부자</th>
            <th>납부자 전화번호</th>
            <th>형제할인</th>
            <th>추천할인(from)</th>
            <th>추천할인(to)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>{{ student.account_set.all.first.id }}</td>
            <td>{{ student.account_set.all.first.student.name }}</td>
            <td>{{ student.account_set.all.first.student.brother.name|default_if_none:"미등록" }}</td>
            <td>{{ student.account_set.all.first.payer|default_if_none:"미등록" }}</td>
            <td>{{ student.account_set.all.first.payer_phone_num|default_if_none:"미등록" }}</td>
            <td>{{ student.account_set.all.first.brother_dc_yn }}</td>
            <td>{{ student.account_set.all.first.recommend_dc_start|default_if_none:"" }}</td>
            <td>{{ student.account_set.all.first.recommend_dc_end|default_if_none:"" }}</td>
        </tr>
        </tbody>
    </table>
    <div class="my-3">
        <a href="{% url 'studyroom:account_modify' student.account_set.all.first.id  %}"
           class="btn btn-secondary">수정</a>
        <a href="#" class="delete btn btn-secondary"
            data-uri="{% url 'studyroom:account_delete' student.account_set.all.first.id  %}">삭제</a>
    </div>
    {%  elif student.brother.account_set.all.first.id %}
    <table class="table">
        <thead>
        <tr class="text-center thead-secondary">
            <th>번호</th>
            <th>이름</th>
            <th>형제</th>
            <th>납부자</th>
            <th>납부자 전화번호</th>
            <th>형제할인</th>
            <th>추천할인(from)</th>
            <th>추천할인(to)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>{{ student.brother.account_set.all.first.id }}</td>
            <td>{{ student.brother.account_set.all.first.student.name }}</td>
            <td>{{ student.brother.account_set.all.first.student.brother.name }}</td>
            <td>{{ student.brother.account_set.all.first.payer|default_if_none:"미등록"  }}</td>
            <td>{{ student.brother.account_set.all.first.payer_phone_num|default_if_none:"미등록"  }}</td>
            <td>{{ student.brother.account_set.all.first.brother_dc_yn }}</td>
            <td>{{ student.brother.account_set.all.first.recommend_dc_start|default_if_none:""  }}</td>
            <td>{{ student.brother.account_set.all.first.recommend_dc_end|default_if_none:""  }}</td>
        </tr>
        </tbody>
    </table>
    <div class="my-3">
        <a href="{% url 'studyroom:account_modify' student.brother.account_set.all.first.id  %}"
           class="btn btn-secondary">수정</a>
        <a href="#" class="delete btn btn-secondary"
            data-uri="{% url 'studyroom:account_delete' student.brother.account_set.all.first.id  %}">삭제</a>
    </div>
    {% else %}
    <h5>등록된 계정이 없습니다.</h5>
    <form action="{% url 'studyroom:account_create' student.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="계정 등록" class="btn btn-secondary">
    </form>
    {% endif %}

    <hr class="my-3">
    <div class="my-3">
        <h1>
            <span class="badge badge-info">수강 정보</span>
        </h1>
    </div>
    {% if sugang_list %}
    {% regroup sugang_list by class_id as class_list %}
    {% for class_id, time_list in class_list %}
    <h3><span class="badge badge-info">{{ class_id }}</span></h3>
    <table class="table">
        <thead>
        <tr class="text-center thead-secondary ">
            <th>시간</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
        </tr>
        </thead>
        <tbody>
        {% regroup time_list by time as weekday_list %}
        {% for time, sugangs in weekday_list %}
        <tr class="text-center">
            <td>{{ time }}시</td>
            <td>
                {% for sugang in sugangs %}
                {% if sugang.weekday == 'MON' %}{{ sugang.start_mt }}{% endif %}
                {% endfor %}
            </td>
            <td>
                {% for sugang in sugangs %}
                {% if sugang.weekday == 'TUE' %}{{ sugang.start_mt }}{% endif %}
                {% endfor %}
            </td>
            <td>
                {% for sugang in sugangs %}
                {% if sugang.weekday == 'WED' %}{{ sugang.start_mt }}{% endif %}
                {% endfor %}
            </td>
            <td>
                {% for sugang in sugangs %}
                {% if sugang.weekday == 'THU' %}{{ sugang.start_mt }}{% endif %}
                {% endfor %}
            </td>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <div class="my-3">
        <a href="{% url 'studyroom:sugang_modify' student.id  %}"
           class="btn btn-secondary">수정</a>
    </div>
    {% else %}
    <div>
        <h5>데이터가 없습니다.</h5>
    </div>
    <a href="{% url 'studyroom:sugang_create' student.id %}" class="btn btn-secondary">수강 등록</a>

    {% endif %}
    <hr class="my-3">
    <div class="my-3">
        <h1>
            <span class="badge badge-info">결석 정보</span>
        </h1>
    </div>
    {% if student.absence_set.all %}
    <div >
        {% for absence in student.absence_set.all %}
            <div>
                <h5>
                    {{ absence.absence_dt }}
                    <a href="#" class="absence_delete btn btn-secondary"
            data-uri="{% url 'studyroom:absence_delete' absence.id  %}">삭제</a>
                </h5>
            </div>
        {% endfor %}
    </div>
        <a href="{% url 'studyroom:absence_create' student.id %}" class="btn btn-secondary">결석 등록</a>

    {% else %}
    <div>
        <h5>데이터가 없습니다.</h5>
    </div>
    <a href="{% url 'studyroom:absence_create' student.id %}" class="btn btn-secondary">결석 등록</a>
    {% endif %}

</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
    $(".absence_delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}
