{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <div>
        <h1>
            <span class="badge badge-secondary">학생 정보</span>
        </h1>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>이름</th>
            <th>학년</th>
            <th>형제</th>
            <th>계정</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>{{ student.name }}</td>
            <td>{{ student.grade }}</td>
            <td>{{ student.brother.name }}</td>
            <td>{{ student.account_set.all.first.id }} {{ student.brother.account_set.all.first.id }}</td>
        </tr>
        </tbody>
    </table>
    <div class="my-3">
        <a href="{% url 'studyroom:student_modify' student.id  %}"
           class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="#" class="delete btn btn-sm btn-outline-secondary"
            data-uri="{% url 'studyroom:student_delete' student.id  %}">삭제</a>
    </div>
    <div>
        <h1>
            <span class="badge badge-secondary">계정 정보</span>
        </h1>
    </div>
    {% if  student.account_set.all.first.id %}
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>번호</th>
            <th>이름</th>
            <th>형제</th>
            <th>납부자</th>
            <th>납부자 전화번호</th>
            <th>형제할인</th>
            <th>추천할인(from)</th>
            <th>추천할인(to)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>{{ student.account_set.all.first.id }}</td>
            <td>{{ student.account_set.all.first.student.name }}</td>
            <td>{{ student.account_set.all.first.student.brother.name }}</td>
            <td>{{ student.account_set.all.first.payer }}</td>
            <td>{{ student.account_set.all.first.payer_phone_num }}</td>
            <td>{{ student.account_set.all.first.brother_dc_yn }}</td>
            <td>{{ student.account_set.all.first.recommend_dc_start }}</td>
            <td>{{ student.account_set.all.first.recommend_dc_end }}</td>
        </tr>
        </tbody>
    </table>
    {%  elif student.brother.account_set.all.first.id %}
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>번호</th>
            <th>이름</th>
            <th>형제</th>
            <th>납부자</th>
            <th>납부자 전화번호</th>
            <th>형제할인</th>
            <th>추천할인(from)</th>
            <th>추천할인(to)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center">
            <td>{{ student.brother.account_set.all.first.id }}</td>
            <td>{{ student.brother.account_set.all.first.student.name }}</td>
            <td>{{ student.brother.account_set.all.first.student.brother.name }}</td>
            <td>{{ student.brother.account_set.all.first.payer }}</td>
            <td>{{ student.brother.account_set.all.first.payer_phone_num }}</td>
            <td>{{ student.brother.account_set.all.first.brother_dc_yn }}</td>
            <td>{{ student.brother.account_set.all.first.recommend_dc_start }}</td>
            <td>{{ student.brother.account_set.all.first.recommend_dc_end }}</td>
        </tr>
        </tbody>
    </table>
    {% else %}
    <h5>등록된 계정이 없습니다.</h5>
    {% endif %}
    <form action="{% url 'studyroom:account_create' student.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="계정등록" class="btn btn-primary">
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}